#fucking shiet i hate u realy much by all cells of my soul

*.obj
*.exe
*.com
*.sdf
*.opensdf
/Test1/Debug/*
.vs/Test1/v14/.suo
Debug/Test1.ilk
Debug/Test1.pdb
Test1/Test1.vcxproj
Test1/Test1.vcxproj.filters
